$ cat .gitignore
# komentarz — ta linia jest ignorowana
# ¿adnych plików .a
#*.a
# ale uwzglêdniaj lib.a, pomimo ignorowania .a w linijce powy¿ej
#!lib.a
# ignoruj wszystkie pliki znajduj¹ce siê w katalogu build//
node_modules/
bower_components/
